@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@font-face{
  font-family: 'Bebas neue';
  src: url('../../fonts/BebasNeue-Regular.ttf');
}
body, html{
  height: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
strong{
  font-weight: bold;
}
h1{
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
li{
  list-style-type: none;
}
address{
  font-style: normal;
}
.inner-page{
  padding-top: 41px;
  width: 880px;
  margin: 0 auto;
}
.inner-page .breadcrumbs{
  margin-bottom: 16px;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
.block-name{
  text-align: center;
  font-size: 49px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 54px;
  padding-bottom: 55px;
  font-weight: 700;
}
.color-white{
  color: #fff;
}
.wrapper{
  min-width: 1100px;
  overflow: hidden;
  min-height: 100%;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
.wrapper:after{
  content: '';
  display: block;
  height: 90px;
}
.container{
  width: 1060px;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}
.non-click{
  pointer-events: none;
}
.logo{
  width: 160px;
  height: 75px;
}