.banner{
  min-width: 100%;
  background-image: url(../../img/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 623px;
  position: relative;
  animation-delay: .9s;
}
.banner__text{
  height: 296px;
  top: 0;bottom: 0;left: 0;right: 0;
  position: absolute;
  margin: auto;
  font-family: 'Bebas Neue';
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 244px;
  animation-duration: .4s;
}
.banner_img{
  content: url(../../img/banner-img.png);
  position: absolute;
  margin: auto;
  top: 0;bottom: 0;right: 0;left: 0;
  width: 305px;
  height: 434px;
  animation-duration: .5s;
  animation-delay: .4s;
}