.send-comment{
  width: 700px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 40px 70px;
  font-size: 14px;
  position: relative;
  margin-bottom: 64px;
}
.send-comment h1{
  text-transform: none;
  color: #221f1f;
  letter-spacing: 0;
  margin-bottom: 18px;
}
.input-wrapper{
  width: 270px;
  height: 80px;
  margin-bottom: 4px;
}
.comment{
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
}
input[type=text]{
  padding: 13px 9px;
  border: 1px solid transparent;
  border-radius: 5px;
}
textarea{
  resize: none;
  padding: 10px 6px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
}
.input-name input, .input-vk input{
  width: 270px;
}
.name-input{
  display: block;
  margin-bottom: 8px;
}
.input-name{
  float: left;
}
.input-vk{
  float: right;
}
.name-input{
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: lighter;
}
.send-comment form{
  width: 560px;
  margin: 0 auto;
}
#comment__textarea{
  width: 100%;
  height: 88px;
  vertical-align: top;
}
.comment__input-text-wrapper{
  width: 100%;
  margin-bottom: 20px;
}
input[type=text]:focus{
  outline: none;
  border: 1px solid #f89513;
}
textarea:focus{
  outline: none;
  border: 1px solid #f89513;
}
.comment__radio-wrapper{
  width: 360px;
  float: left;
}
.comment__radio-name{
  display: block;
  margin-bottom: 7px;
}
.comment__radio{
  position: absolute;
  left: -9999px;
}
button{
  float: right;
  padding: 20px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  background: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
button:focus{
  outline: none;
}
.input-radio{
  width: 20px;
  height: 20px;
  border: 1px solid #cacaca;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  float: left;
  margin-right: 7px;
}
.input-radio__circle{
  top: 0;left: 0;bottom: 0;right: 0;
  height: 0px;
  width: 0px;
  background: red;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  background: #f89513;
}
.comment__radio:checked + .comment__radio-text .input-radio{
  border: 1px solid #f89513;
  transition: all .4s ease-out;
}
.comment__radio:checked + .comment__radio-text .input-radio__circle{
  height: 8px;
  width: 8px;
  transition: all .2s ease-out;
}
.comment__radio:checked + .comment__radio-text{
  color: #f89513;
}
.radio-text{
  float: left;
  vertical-align: middle;
  padding: 2px 0;
}
.comment__radio-text{
  margin-right: 20px;
  float: left;
}