@keyframes resize{
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    width: 172px;
    opacity: 1;
  }
}
.intro-bg{
  background-image: url('../../img/intro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.intro{
  height: 280px;
  position: absolute;
  width: 172px;
  top: 0;left: 0; bottom: 0;right: 0;
  margin: auto;
  display: block;
}
.intro__link{
  padding-top: 16px;
  background-color: #f89513;
  height: 45px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-top: 29px;
}
.intro__link:hover{
  background-color: #131415;
  transition: all .3s ease-out;
}
.big-logo, .intro__link{
  display: block;
}
.test-block{
  width: 500px;
  height: 500px;
  border: 5px solid gray;
}
.test{
  position: absolute;
  width: 0;
  top: 0;bottom: 0;left: 0; right: 0;
  margin: auto;
  opacity: 1;
  animation: resize 1s ease-out 1 both;
}
.test-block:hover{
  border-radius: 10px;
}
/* .test-block:hover + .test{
  width: 172px;
  transition: all 2s ease-in-out 1s;
} */