.navigation_wrapper{
  width: 720px;
  text-align: center;
  float: left;
  padding-top: 27px;
}
.navigation{
  text-align: center;
}
.navigation__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
}
.navigation__item:last-child{
  margin-right: 0;
}
.navigation__link{
  color: #fff;
  letter-spacing: 1.2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
  transition: all 0.2s ease-out;
}
.navigation__item:hover .navigation__link{
  color: #f89513;
  transition: all 0.2s ease-out;
}
.navigation__item--active .navigation__link{
  color: #f89513;
  pointer-events: none;
}
.navigation__link:before{
  content:'';
  background-image:url('../../img/icons.svg');
  background-repeat:no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  margin-top: -4px;
}
.main-icon:before{
  background-position: 0 -20px;
}
.reviews-icon:before{
  background-position:0 -60px;  
}
.services-icon:before{
  background-position:0 -100px;
}
.navigation__item--active .main-icon:before{
  background-position:0 0;
}
.navigation__item--active .reviews-icon:before{
  background-position:0 -40px;
}
.navigation__item--active .services-icon:before{
  background-position:0 -80px;
}
.navigation__item:hover .main-icon:before{
  background-position:0 0;
}
.navigation__item:hover .reviews-icon:before{
  background-position:0 -40px;
}
 .navigation__item:hover .services-icon:before{
  background-position:0 -80px;
}