.partners{
  width: 880px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.partners__item{
  float: left;
  margin-right: 65px;
  margin-bottom: 50px;
}
.partners__item:nth-child(3n+3){
  margin-right: 0;
}
.partners__item{
  width: 250px;
  height: 65px;
}
.partners__logo{
  width: 160px;
  height: 65px;
  filter: grayscale(100%);
}
.partners__logo:hover{
  filter: grayscale(0%);
  transition: all .3s ease-out;
}
.partners h1{
  margin-bottom: 75px;
}
.partners__link{
  display: block;
  text-align: center;
}